html {
	background-color: #4994CB;
}

h1, h2{
	font-family: junction;
	color: #FF7300;
	animation-name: fade_in;
	animation-interation-count: 1;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 5em;
	letter-spacing: 1em;
	animation-duration: 3s;

}

h2 {
	font-size: 3em;
	animation-duration: 7s;
}

h3, p {
	font-family: junction;
	color: #FF7300;
	margin-left: 10%;
	animation-duration: 7s;
}

h3 {
	background-color: #002664;
	padding: .5em;
	margin-right: 70%;
	font-size: 2em;
	animation-name: bg_fade_in;
	animation-interation-count: 1;
	animation-duration: 7s;
}

p {
	background-color: #002664;
	padding: .5em;
	margin-right: 40%;
	animation-name: bg_fade_in;
	animation-interation-count: 1;
	animation-duration: 7s;
}

@font-face {
	font-family: junction;
	src: url(fonts/junction-bold.otf)
}

@keyframes fade_in {
	000% {color: rgba(0, 0, 0, 0);}
	010% {color: rgba(0, 0, 0, 0);}
	050% {color: rgba(79, 44, 29, 0);}
	100% {color: #FF7300;}
}

@keyframes bg_fade_in {
	000% {color: rgba(0, 0, 0, 0);}
	010% {color: rgba(0, 0, 0, 0);}
	050% {color: rgba(79, 44, 29, 0);}
	100% {color: #FF7300;}
	000% {background-color: rgba(0, 0, 0, 0);}
	050% {background-color: rgba(0, 0, 0, 0);}
	100% {background-color: #002664;}
}
